@model Language




<div class="form-group">
    <div class="row">
        <div class="d-inline-block col-3 col-xs-3">
            @Model.LanguageName
        </div>
        <div class="d-inline-block col-6 col-xs-6">
            @Model.LanguageDescription
        </div>
        <div class="d-inline-block col-3 col-xs-3">
            <div class="progress">
                <div class="progress-bar" style="width:@Model.LanguageLevel%"></div>
            </div>
        </div>
    </div>
</div>