@model Skills




<div class="form-group">
    <div class="row">
        <div class="d-inline-block col-xs-9 col-9">
            <b>
                @Model.SkillName
            </b>
        </div>

        <div class="d-inline-block col-xs-3 col-3">
            <div class="progress">
                <div class="progress-bar" style="width:@Model.SkillLevel%"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Model.SkillDescription
    </div>
</div>