@model MainPage

@{
    ViewData["Title"] = "Hobbies";
    Layout = "_Layout";
}




@await Html.PartialAsync("HobbiesSummary", new Hobby())

@*Tutaj trzeba zrobic div i css przesunac w dol*@
<br />
<br />
<div class="nav navbar bg-light text-center">

</div>
<br />

@foreach (var p in Model.Hobbies)
{
    @await Html.PartialAsync("HobbiesSummary", p)
    <br />
}






